
//HOMEPAGE ICON SECTION (COMBOSOFT)

.icon_section {
  background-color: #2E2E32;
  padding: 196px 0 132px 0;
  @media (max-width: 480px){
    padding: 90px 10px 10px 0px;
    .icon-doc {
      img{
        width: 80px;
        height: 80px;
        margin-bottom: 15px;
      }
      .text2{
        margin-bottom: 15px;
      }
    }
  }
  @media (max-width: 768px){
    padding: 90px 20px 50px 20px;
  }
  @media (max-width: 1024px){
    padding: 126px 40px 96px 30px;
  }

  @media (max-width: 1280px){
    padding: 146px 100px 96px 50px;
  }

  @media (max-width: 1440px){
    padding: 146px 50px 96px 90px;
  }


  .icon-doc{
    margin-bottom: 64px;
    display: flex;
    align-items: center;

    .icon-doc-text{
      max-width: 400px;
      display: flex;
      align-items: center;
    }

    @media screen and (max-width: 767px){
      .mx-auto{
        img{
          width: 100px;
          height: 100px;
        }
      }
    }
    @media screen and (max-width: 480px){
      .mx-auto{
        img{
          width: 80px;
          height: 80px;
        }
      }
    }
  }


}

